.App-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  background-color: white;
  font-size: 25px;
}

.Form-container {
  display: flex;
  flex-direction: column;
  border: 2px;
  border-style: solid;
  margin-top: 50px;
  margin-bottom: auto;
  background-color: azure;
  width: auto;
}

.Form-row {
  display: flex;
  margin: 20px
}

.Form-label {
  margin-right: 25px;
}

.Form-input {
  height: 30px;
  font-size: 25px;
}

.Form-button {
  background-color: #d2d0d0;
  border: none;
  color: rgb(10, 10, 10);
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  margin-left: auto;
}

.Form-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.Form-button:hover {
  background-color: #a5a5a5;
}
